    <div class="header">
      <h2>あなたの楽器は？</h2>
    </div>
    <div>ニックネームを入力して決定ボタンを押すとあなたの楽器が表示されます</div>
    <div>ニックネームを入力してください</div>
    <form>
      <input type="text" name="nickname">
      <input type="submit" value="決定">
    </form>

<%= link_to "indexページへ移動","fortunes" %>