    <div class="content">
      <div class="main_title">
        <h2 class="title">あなたの楽器は？</h2>
      </div>
      <div class="explain">
        ニックネームを入力して決定ボタンを押すとあなたの楽器が表示されます
      </div>
      <div class="input exp">
        ニックネームを入力してください
      </div>
      <form>
        <input type="text" name="nickname" class="input text">
        <input type="submit" value="決定" class="input submit">
      </form>
    </div>

<%= link_to "indexページへ移動","fortunes" %>