.content {
  width:800px;
  margin: auto;
  background: blue;
  text-align: center;
}

.main_title{
  background-color: burlywood;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.title{
}

.explain{
  background-color: chartreuse;
}

.input {
  margin: auto;
}

.exp{
  background-color: crimson;

}

.text{
  background-color:darkcyan;
  width: 300px;
  height: 25px;
}

.submit{
  background-color: darksalmon;
}